:root {
    --clr-highlight: rgba(165, 34, 38, 1);
    --clr-normal-text: rgba(83, 83, 83, 1);
    --clr-light-text: rgba(255, 255, 255, 1);
    --clr-dark-text: rgba(26, 26, 26, 1);
    --base-font-size: 16px;
}

body {
    color: var(--clr-light-text);
    font-size: calc(var(--base-font-size) * 1rem); 
}

ul {
    padding-left: 0;
    list-style: none;
}

hr {
    color: var(--clr-dark-txt);
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem;

    text-decoration: none;
    text-transform: uppercase;
    border: 0.15rem solid;
}

.btn-primary {
    font-weight: 700;
    color: var(--clr-dark-text);
    border-color: var(--clr-dark-text);
}

.btn-cta {
    font-weight: 700;
    background-color: var(--clr-highlight);
    color: var(--clr-light-text);
    border-color: var(--clr-highlight);
}

/* Header */

@media screen and (min-width: 600px) {
    .main-header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: 1fr;
        gap: 1rem;
        align-items: center;
    }

    .logo {
        grid-column: 1 / 2;
    }
    
    .main-header .btn-primary {
        grid-column: 7 / -1;
    }
}

/* Navigation */

nav a {
    text-decoration: none;
    text-transform: capitalize;
}

nav a:hover {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    [role="navigation"] {
       grid-column: 2 / 6;
    }

    nav li {
       display: inline-block;
       margin-right: 1rem;
    }
}



/* Banner Area */